@font-face {
  font-family: "pixel";
  font-weight: normal;
  font-style: normal;
  src: url(../font/PressStart2P-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "rain";
  font-weight: normal;
  font-style: normal;
  src: url(../font/rainyhearts.ttf) format("truetype");
}

@font-face {
  font-family: "gamefont";
  font-weight: normal;
  font-style: normal;
  src: url(../font/gamefont.ttf) format("truetype");
}
